.nav-container {
  padding: 1rem 0rem 1rem 0rem;
}

.logo-container {
  width: 100px;
  height: auto;
}
.logo-font {
  font-family: "Edu TAS Beginner", sans-serif;
  font-size: 1.5rem;
}
.nav-link {
  padding: 1rem;
}
